.footer {
  width: 100%;
  height: 60px;
  min-width: 1000px;
  max-height: 60px;
  border-top: 1px solid @divider-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  .song-info {
    display: flex;
    align-items: center;
    .song-cover {
      width: 42px;
      height: 42px;
      border-radius: 6px;
      background: linear-gradient(to right, #808080, #3fada8);
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .song-msg {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      .song-title {
        max-width: 140px;
        font-size: 16px;
        display: block;
        cursor: pointer;
        .ellipsis;
      }
      .song-singer {
        max-width: 140px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  .song-control {
    max-width: 455px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .song-btn {
      height: 32px;
      // height: 24px;
      font-size: 24px;
      .player {
        margin: 0 25px;
        font-size: 28px;
      }
      i {
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
    }
    .song-progress {
      width: 100%;
      /deep/.ant-slider {
        display: inline-block;
        vertical-align: middle;
        width: 72%;
        margin: 0 14px;
        .ant-slider-track {
          background-color: @primary-7;
        }
      }
      /deep/.ant-slider-rail {
        background-color: #eceaea;
      }
      /deep/.ant-slider:hover .ant-slider-rail {
        background-color: #d4d4d4;
      }
      .time {
        font-size: 12px;
        color: #838383;
        letter-spacing: 2px;
      }
    }
  }
  .song-set {
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }
    .volume {
      display: flex;
      align-items: center;
      margin: 0 16px;
      i {
        display: block;
        width: 22px;
        margin-right: 6px;
      }
      /deep/.ant-slider {
        width: 60px;
        .ant-slider-track {
          background-color: @primary-6;
        }
        .ant-slider-rail {
          background-color: #eceaea;
        }
        &:hover .ant-slider-rail {
          background-color: #d4d4d4;
        }
      }
    }
  }
  .shadow-drop-2-lr {
    -webkit-animation: shadow-drop-2-lr 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes shadow-drop-2-lr {
    0% {
      -webkit-transform: translateZ(0) translateY(6px);
      transform: translateZ(0) translateY(6px);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(0px);
      transform: translateZ(50px) translateY(0px);
      -webkit-box-shadow: -6px 0 10px -6px rgba(0, 0, 0, 0.35),
        6px 0 10px -6px rgba(0, 0, 0, 0.35);
      box-shadow: -6px 0 10px -6px rgba(0, 0, 0, 0.35),
        6px 0 10px -6px rgba(0, 0, 0, 0.35);
    }
  }
}
